<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>序列帧生成器</title>
    <link rel="shortcut icon" href="resource/favicon.ico">
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div id="app" class="main">
      <div class="preview">
        <el-tabs type="border-card">
          <el-tab-pane label="图片上传" v-cloak>
            <el-upload
              v-loading="imgLoading" 
              class="upload-demo" 
              drag action="" 
              multiple :file-list="fileList" 
              :auto-upload="false" 
              :on-change="fileChange" 
              :on-remove="fileRemove">
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
              <div class="el-upload__tip" slot="tip"></div>
            </el-upload>
          </el-tab-pane>
          <el-tab-pane label="顺序调整" v-cloak>
            <div class="orderTip" v-show="fileList.length === 0">暂无排序项目</div>
            <draggable v-model="fileList" :options="{group:'people'}">
              <div class="dragItem" v-for="element in fileList" :key="element.uid">{{element.name}}</div>
           </draggable>
          </el-tab-pane>
          <el-tab-pane label="合成预览" v-cloak>
            <span v-show="imgStr === ''">暂无预览</span>
            <img v-show="imgStr !== ''" class="imgPreview" :src="imgStr" alt="" name="frames">
          </el-tab-pane>
          <el-tab-pane label="CSS生成" v-cloak>
            <el-input
              type="textarea"
              :autosize="{minRows: 30}"
              placeholder="等待生成序列帧CSS"
              v-model="cssStr"
            >
            </el-input>
          </el-tab-pane>
        </el-tabs>
      </div>
      <div class="params">
        <el-radio v-model="sizeType" label="1" v-cloak>设定canvas宽高</el-radio>
        <div class="unit">
            <label v-cloak>宽</label>
            <el-input
            size="mini"
            placeholder="宽：默认640"
            v-model="canvasData.width"
            :disabled="sizeType === '2' ? true : false"
          >
        </div>
        </el-input>
        <div class="unit">
            <label v-cloak>高</label>
            <el-input
              size="mini"
              placeholder="高：默认480"
              v-model="canvasData.height"
              :disabled="sizeType === '2' ? true : false"
            >
            </el-input>
        </div>
        <el-radio v-model="sizeType" label="2" v-cloak>设定单帧排列</el-radio>
        <div class="unit">
            <label v-cloak>行</label>
            <el-input
              size="mini"
              placeholder="行：默认1"
              v-model="frameData.row"
              :disabled="sizeType === '1' ? true : false"
            >
            </el-input>
        </div>
        <div class="unit">
            <label v-cloak>列</label>
            <el-input
              size="mini"
              placeholder="列：默认1"
              v-model="frameData.col"
              :disabled="sizeType === '1' ? true : false"
            >
            </el-input>
        </div>
        <div class="unit" v-cloak>帧尺寸</div>
        <div class="unit">
            <label v-cloak>帧宽</label>
            <el-input
              size="mini"
              placeholder="帧宽：默认640"
              v-model="frameData.prewidth"
            >
            </el-input>
        </div>
        <div class="unit">
            <label v-cloak>帧高</label>
            <el-input
              size="mini"
              placeholder="帧高：默认480"
              v-model="frameData.preheight"
            >
            </el-input>
        </div>
        <div class="unit" v-cloak>CSS参数</div>
        <div class="unit">
            <el-radio v-model="cssAttr.unit" label="1" v-cloak>设定canvas宽高</el-radio>
            <el-radio v-model="sizeType" label="1" v-cloak>设定canvas宽高</el-radio>
            <el-radio v-model="sizeType" label="1" v-cloak>设定canvas宽高</el-radio>
        </div>
        <div class="unit warn" v-cloak>请检查相关数据的正确性，在一些数据错误时暂不会有完整的错误提示</div>
        <div class="unit btns">
            <el-button type="primary" round :loading="btnLoading" v-cloak @click="startDealing(0)">{{btnText}}</el-button>
        </div>
      </div>
      <canvas id="cvs" v-bind:width="canvas.width" v-bind:height="canvas.height"></canvas>
    </div>
    <!-- build:cdn -->
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.js"></script>
    <script src="https://cdn.bootcss.com/Sortable/1.6.0/Sortable.js"></script>
    <script src="https://cdn.bootcss.com/Vue.Draggable/15.0.0/vuedraggable.js"></script>
    <!-- endbuild -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
